<h2>Edit <%= @merchant.name %></h2>
<form method="POST" action="/merchants/<%= @merchant.id %>">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @merchant.name %>"/>
      <input class="btn btn--action" type="submit" value="Update Merchant!"/>
</form>
