<h1>Merchants</h1>
<p class="btn btn--action">
  <a class="btn btn--action" href="/merchants/new">New merchant!</a>
</p>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><a href="/merchants/transactions/<%= merchant.id %>"><%= merchant.name %></a></td>
    <td><form action="/merchants/<%= merchant.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" /></form></td>
    <td><form action="/merchants/<%= merchant.id %>/edit" method="GET">
    <input class="btn btn--danger" type="submit" value="edit" /></form></td>
  </tr>
  <% end %>
</table>
