<h1>New Merchant</h1>
<form action="/merchants" method="post">
  <label for="name">Enter New Merchant:</label>
    <input type="text" name="name" id="name"/>
  <input class="btn btn--action" type='submit' value="Submit merchant!">
</form>
