<br><hr><H3> Welcome to Wongaware,

the tracker app that keeps you on top of your finances.</H3>
<br><hr>
<a href "/transactions">
<img src="images/piggy.png" alt="Piggy Bank" style="display:block;width:200px;height:200px;margin-left: auto;margin-right: auto;width: 25%;">
</a>
<br><hr>
<h4>Click the piggy to see transactions.</h4>
<br><hr>
