<h1>Tags</h1>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/tags/new">New Tag!</a>
</p>
<table>
  <tr>
    <th>Type</th>
    <th></th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/transactions/<%= tag.id %>"><%= tag.type %></a></td>
    <td><form action="/tags/<%= tag.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" /></form></td>
    <td><form action="/tags/<%= tag.id %>/edit" method="GET">
    <input class="btn btn--danger" type="submit" value="edit" /></form></td>
  </tr>
  <% end %>
</table>
