<h1>Tags</h1>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/tags/new">New Tag!</a>
</p>
<table>
  <tr>
    <th>Type</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%= tag.id %>"><%= tag.type %></a></td>
  </tr>
  <% end %>
</table>
