<h1>Amend User</h1>

<form action="/users/<%=@user.id%>" method="post">
  <table>
  <tr><td>Update user:</td><td><%=@user.name%></tr>
  <tr>
    <td><label for="amount">Enter Amount:</label>
        <input type="number" step="0.01" name="amount" id="amount" value="<%= @user.budget %>"/></td>
      <td><input class="btn btn--action" type='submit' value="Amend budget!"><td>
    </tr>
  </table>
</form>
