<h1>Transactions</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/new">New transaction!</a>
</p>

<ul>
  <% for transaction in @transactions %>
  <li>
  <p><%= transaction.merchant.name %> <%= transaction.tag.type %> </p>
    <p>
      <form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
