<h1>New transaction</h1>

<form action="/transactions" method="post">
  <label>
  Select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a tag:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.type %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="Submit transaction!">
</form>
