<h1>New transaction</h1>

<form action="/transactions" method="post">
  <table>
  <tr>
  <td>Select a merchant:</td>
  <td><select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select></td>

  <td><label>Select a tag:</label></td>
    <td><select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.type %></option>
      <% end %>
    </select></td>
  </tr>
  <tr>
    <td><label for="amount">Enter Amount:</label>
        <input type="number" name="amount" id="amount"/></td>
        <td><label for="transaction_time">Enter Time(hh:mm):</label>
        <input type="text" name="transaction_time" id="transaction_time"/>
      </td>
      <td><input class="btn btn--action" type='submit' value="Submit transaction!"><td>
    </tr>
  </table>
</form>
